@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}


/* --------------Contact Us------------ */

.name{
    text-align: center;
    font-size: 50px;
    color: navy;
}

.location {
    width: 80%;
    margin: auto;
    padding: 20px  10px 80px 10px;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 100%;
    margin: auto;
    padding: 0px 20px;
}

.contact-us .row {
    display: flex;
    align-items: top;

}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: start;
    margin-bottom: 40px;
}

.contact-col div .fa {
    font-size: 28px;
    color: blue;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
    color: black;
    font-weight: 300;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: black;
    font-weight: 400;
}

.contact-coll input,
.contact-coll textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.contact-coll button {
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    transform: translate(1.04s);
    background-color: orangered;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-coll button:hover {
    color: white;
    background-color: blue;
    transition: 1.04s;
}


@media screen and (max-width:768px){
    .header .name{
        font-size: 50px;
    }
    .contact-us .row {
        flex-wrap: wrap;
        width: 100%;
    }


   
}



