@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=Graduate&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

.header {
    min-height: 10vh;
    width: 100%;
}


h1 {
    text-align: center;
    color: orangered;
    padding: 10px;
    font-size: 100px;
    grid-area: "overlap";

}

.sub p {
    padding-left: 900px;
    color: blue;
    background-color: aqua;
}


nav {
    background-color: aqua;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

.header {
    background-color: blue;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in;
    font-size: 20px;
    margin-right: 50px;

}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: orangered;
    padding: 10px;
    cursor: pointer;
}

.dropdown ul li{
    display: none;
}

nav ul li:hover .dropdown ul{
    display: block;
    position: absolute;
    background-color: blue;
    


    
}

nav ul li:hover .dropdown ul li{
    display: block;
    margin: 10px;
     margin-top: 15px;
    margin-left:20px;
    border-bottom: 2px solid white;


}


/* --------------------Our Staff------------ */
.contain-sec {
    background-color: aqua;
}

.contain p {
    text-align: center;
    margin: 30px 0px 10px 0px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    font-weight: bold;
}

.contain h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.card-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: blue;
    padding: 70px 50px 0 50px;
    width: 25%;
    max-width: 350px;
    margin: 10px;
    border-radius: 10px;
}

.card .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.card .profile-img img {
    width: 100%;
    height: 100%;
}

.card .content {
    text-align: center;
}

.card .content h3 {
    font-size: 1.4rem;
    margin-top: 25px;
    color: white;
}

.card .content p {
    color: orangered;
    letter-spacing: 1px;
    margin: 0;
}

.social-media {
    margin-top: 30px;
}

.social-media i {
    font-size: 1.2rem;
    color: white;
    background-color: orangered;
    padding: 15px;
    margin: 0 3px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    transition: 0.5s;

}

.social-media i:hover {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 0.9);
}


@media screen and (max-width: 500px) {
    .card-wrap {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin: 20px;
    }

}



/* ---------------footer----------- */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer p {
    font-weight: 200;
    font-size: 15px;

}

.icons .fa {
    color: blue;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-copyright {
    color: white;
}
