@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


h1 {
    text-align: center;
    color: orangered;
    padding: 10px;
    font-size: 100px;
    grid-area: "overlap";

}

.sub p {
    padding-left: 900px;
    color: blue;
    background-color: aqua;
}



/* --------------------Our Staff------------ */
.contain-sec {
    background-color: transparent;
}

.contain p {
    text-align: center;
    margin: 30px 0px 10px 0px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    font-weight: bold;
}

.contain h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.card-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: blue;
    padding: 70px 50px 0 50px;
    width: 25%;
    max-width: 350px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.card .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.card .profile-img img {
    width: 100%;
    height: 100%;
}

.card .content {
    text-align: center;
}

.card .content h3 {
    font-size: 1.4rem;
    margin-top: 25px;
    color: white;
}

.card .content p {
    color: orangered;
    letter-spacing: 1px;
    margin: 0;
}

.social-media {
    margin-top: 30px;
}

.social-media i {
    font-size: 1.2rem;
    color: white;
    background-color: orangered;
    padding: 10px 0px 10px 0px;
    margin: 0 3px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    transition: 0.5s;

}

.social-media i:hover {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 0.9);
}


@media(max-width: 768px) {
    .card-wrap {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin: 20px;
    }

}

@media (min-width:769px) and (max-width:1024px){
     .card-wrap {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

