@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

}


body {
    background-image: url(images/cat13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins';

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blanchedalmond; */
    padding: 20px 10px;

}

.nav-bar img {
    width: 10em;
}

.nav-bar .mobile, .cart{
    color: orangered;
    font-size: 30px;
}

ul li {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-bar li {
    display: inline-flex;
    margin-left: 20px;


}

ul li:hover {
    background-color: navy;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    transform: scaleX(1.2);
}

.sect-01 {
    text-align: center;
    min-height: 500px;
    padding: 50px;
    color: navy;
}

.sect-01 h1 {
    font-size: 3.5em;
    font-family: "Playwrite US Trad";
}

.sect-01 p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: orangered;
    font-family: "Playwrite US Trad";
}

/* .sect-01 img{
    height: 100px;
    width: 100px;
    border-radius: 50px;

   
} */

.sect-02 {
    background-color: burlywood;
    padding-top: 20px;
}

.sect-02 h1 {
    text-align: center;
}

.sect-02 a{
    background-color: navy;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5);
    width: 100%;

}

.card img {
    width: 90%;
    border-radius: 10px;
}

.signup button {
    padding: 5px 10px;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out(0.01s);
}

.signup button:hover {
    background-color: navy;
    transform: scaleY(1.2);

}

.service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
}

.vice {
    text-align: center;
    justify-content: center;
    color: navy;
    font-family: "Playwrite US Trad";
    font-weight: 600;
    background-color: white;
    padding: 30px 0;
    margin-left: 20px;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5)
}


.vice img {
    height: 100px;
}

.sect-04 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.sect-04 li {
    list-style: none;
}

.sect-04 h2{
    color: navy;
}



.footer {
    text-align: center;
    font-weight: 300;
    color: navy;
}

.buy-btn{
    background: navy;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

#orderBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    display: none;
    z-index: 999;
    border-radius: 10px;
}

#orderBox input{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

#cartCount{
    background:red;
    color:white;
    border-radius:50%;
    padding:2px 7px;
    font-size:12px;
}

#cartBox{
    position:fixed;
    right:20px;
    top:70px;
    background:white;
    width:320px;
    padding:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.4);
    display:none;
    z-index:1000;
}

#cartItems div{
    display:flex;
    justify-content:space-between;
    margin:5px 0;
}




@media screen and (max-width: 768px) {
    .sect-01 {
        min-height: 250px;
        padding: 25px;

    }

    .sect-01 h1 {
        font-size: 1.8em;
    }

    .sect-01 p {
        font-size: 15px;
    }

    .nav-bar li,
    .signup {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .service {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .sect-04 {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .service {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .mobile .fa {
        display: block;
    }

}

@media screen and(max-width:1024px) {
    .mobile .fa {
        display: none;
    }

}