@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

}

body {
    background-image: url(images/cat13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins';

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    z-index: 900;


}

.nav-bar a,
.side-bar a {
    text-decoration: none;
}

.nav-bar img {
    width: 10em;
}

.nav-bar .mobile,
.cart {
    color: orangered;
    font-size: 30px;
}

ul li {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;

}

.nav-bar li {
    display: inline-flex;
    margin-left: 20px;
}

.cart {
    color: navy;
    position: relative;
}

.cart span {
    background-color: orangered;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: -1px;
}

ul li:hover {
    background-color: navy;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    transform: scaleX(1.2);
}


.mobile {
    display: none;
    z-index: 999;
}


.side-bar {
    display: none;
    min-height: 100vh;
    background-color: blue;
    padding: 5px 20px;
    z-index: 2000;
}


.side-bar li {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    list-style: none;
}


/* .side-bar.active{
    left: 0;
} */

.cancel {
    color: white;
}

button {
    background-color: orangered;
}

.sect-01 {
    text-align: center;
    min-height: 500px;
    padding: 50px;
    color: navy;
}

.sect-01 h1 {
    font-size: 3.5em;
    font-family: "Playwrite US Trad";
}

.sect-01 p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: orangered;
    font-family: "Playwrite US Trad";
}

/* .sect-01 img{
    height: 100px;
    width: 100px;
    border-radius: 50px;

   
} */

.sect-02 {
    background-color: burlywood;
    padding-top: 20px;
}

.sect-02 h1 {
    text-align: center;
}

.sect-02 a {
    background-color: navy;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}


.sect-02 h2, .sect-02 p{
    margin-bottom: 10px;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5);
    width: 100%;

}

.card img {
    width: 90%;
    border-radius: 10px;
}

.signup button,
button {
    padding: 5px 10px;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: ease-in-out(0.01s);
}

.signup button:hover {
    background-color: navy;
    transform: scaleY(1.2);

}

.service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
}

.vice {
    text-align: center;
    justify-content: center;
    color: navy;
    font-family: "Playwrite US Trad";
    font-weight: 600;
    background-color: white;
    padding: 30px 0;
    margin-left: 20px;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5)
}


.vice img {
    height: 100px;
}

.sect-04 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: burlywood;
    border-radius: 10px;
    margin: 20px;
}

.sect-04 li {
    list-style: none;
}

.sect-04 h2 {
    color: navy;
}



.footer {
    text-align: center;
    font-weight: 300;
    color: navy;
}

.side-bar {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: navy;
    gap: 15px;
    position: absolute;
    top: 0;
    left: -100%;
    /* transform: translateX(-50%); */
    width: 20rem;
    border: .1rem solid orangered;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px;
    padding: 20px 0;


}

.side-bar.active {
    left: 50%;
    transform: translateX(-50%);
}


.sect-04 i{
    color: navy;
    font-size: 20px;
    margin-top: 10px;
}

.sect-04 i:hover{
    transform: scale(1.5);
}

.sect-04 a{
    color: black;
    text-decoration: none;
}

summary{
    color: black;
    font-size: 18px;
}
details{
    color: navy;
    font-size: 15px;
}



    @media(max-width: 768px) {

        .nav-bar li {
            display: none;
            margin-left: 20px;
        }

            .sect-01 {
                min-height: 250px;
                padding: 25px;

            }

            .sect-01 h1 {
                font-size: 1.8em;
            }

            .sect-01 p {
                font-size: 15px;
            }

            .nav-bar li,
            .signup {
                display: none;
            }

            .container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
            }

            .service {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
            }

            .sect-04 {
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 15px;
            }

            .service {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
            }

            .mobile {
                display: block;
            }

            .side-bar {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: navy;
                gap: 2rem;
                position: absolute;
                top:20%;
                left: -100%;
                /* transform: translateX(-50%); */
                width: 20rem;
                border: .1rem solid orangered;
                border-radius: 2rem;
                box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px;
                padding-top: 30px;
                max-height: 70vh;
                transition: 0.4s ease-in-out;


            }

            .side-bar.active {
                left: 50%;
                transform: translateX(-50%);
            }

        }

        @media (min-width:768px) and (max-width:1024px) {
            .nav-bar li {
                display: none;
                margin-left: 20px;
            }

            .container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }

            .sect-04 {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 20px;
                gap: 15px;
            }

            .mobile {
                display: block;
            }
        }




    @media screen and(min-width:1025px) {

        .mobile {
            display: none;
        }

        .side-bar {
            display: none;
        }
    }